extends layout

block content
  h2#home.passMRD データ活用で未来を豊かにする

  p 株式会社movee（モビー）は、データを活用したITツール・システムの開発・販売を行っております。
  p すでにあるデータを効率的に活用したり、また、データがない場合はデータを収集するITツールやシステムを開発・導入してビジネスに活用できるデータ環境の構築・分析を行います。
  p ご相談内容に応じた提案をさせていただきますのでお気軽にご相談ください。
  h2#service.passMRD サービス
  ul
    li オープンデータやAPI連携データ活用のコンサルティング・ツール・システム開発
    li 社内データ活用のコンサルティング・ツール・システム開発
    li ユーザー行動データ収集ツール「mReactionData」の開発・販売
  h2#about.passMRD 会社情報
  p 株式会社movee
  p 〒810-0001　福岡県福岡市中央区天神2丁目3-10　天神パインクレスト716
  p 050-5538-0382 &nbsp; info@movee.jp
  h2 メンバー
    each dataItem in githubData
      h3= dataItem.key
      ul
      p.passMRD= dataItem.introduction + dataItem.technique
      p 関心事:#{dataItem.interest}
      p Github(Public Repo Only)
      ul
        each item in dataItem.data
          li
            a(href=item.html_url, target="_blank", rel="noopener noreferrer")= item.name
            | &nbsp;
            | updated_at:#{item.updated_at.slice(0, 10)}
      - if (dataItem.blog.trim() !== '')
        p
         | 先月の振り返り:
         a(href=dataItem.blog + '' + formattedLastMonth, target="_blank", rel="noopener noreferrer")= dataItem.blog + '' + formattedLastMonth

  //- h2#bp お取引先
  //- p 株式会社テックミーブレインズ
  //- p 株式会社レインオンファニー
  h2#qa.passMRD Q&A
  p よくある質問を載せています。
  p Q.システム開発は自社メンバーで行なっていますか？
  p A.自社エンジニアで開発しています。フロントエンド、バックエンド、インフラまで対応していますが、案件次第ではパートナーさんと開発する可能性もあります。
  p Q.開発を相談する場合はどのような流れになりますか？
  p A.まずはオンラインか直接お会いして、開発したいシステムの概要をお聞きします。その後にお見積書を作成させていただき、双方問題なければ開発に着手いたします。
  p Q.相談してから開発着手まではどれぐらいかかりますか？
  p A.内容を伺って、お見積もり提出までに早くて1週間、内容のすり合わせにお時間がかかる場合は1ヶ月ほど時間を要する場合があります。開発着手はエンジニアのリソース状況によリますが、早ければ見積り合意後にすぐ着手いたします。お見積もり段階でリソース状況も共有させていただいております。ご相談・お見積もり作成は無料ですのでまずはお気軽にご相談ください。
  p Q.月10時間までなど、時間単位の開発も行っていますか？
  p A.時間単位のスポット開発も行っています。予算に合わせてこちらから提案することも可能です。お気軽にご相談ください。

  h2#contact.passMRD
    a.contact-button お問い合わせ
  p お仕事のご依頼やご相談は050-5538-0382か、info@movee.jpよりご連絡ください。
  p スポット開発、協業などお気軽にどうぞ。ちなみにホームページはTypeScript、node.js、Expressで書いています。詳しくは
    a(href="https://esa-pages.io/p/sharing/20913/posts/58/74eea07bb61c93dbaa09.html", target="_blank") こちら
