extends layout

block content
  h3#heading 今日の天気予報@天神
  ul
    each dataItem in weatherData
      ul
        - var count = 0;
        each item in dataItem.weatherApiData
          if count < 6
            li(style="display:inline-block; margin-right: 20px;")
              //- ここはscript.に外だししたい
              - const dtTxt = new Date(item.dt_txt);
              - dtTxt.setHours(dtTxt.getHours() + 9);
              - const month = String(dtTxt.getMonth() + 1).padStart(2, '0');
              - const day = String(dtTxt.getDate()).padStart(2, '0');
              - const hour = String(dtTxt.getHours()).padStart(2, '0');
              - const minute = String(dtTxt.getMinutes()).padStart(2, '0');
              | #{month}/#{day} #{hour}:#{minute}
              br
              | #{item.weather[0].description}
              br
              | #{(item.pop * 100).toFixed(0)}%
              br
              | #{(Math.round((item.main.temp_min - 273.15) * 10) / 10)}℃
              br
              img(src='https://openweathermap.org/img/wn/' + item.weather[0].icon + '@2x.png')
            - count++;
  h1#home.passMRD データ活用で未来を豊かにする
  p 株式会社movee（モビー）は、データを活用したITツール・システムの開発・販売を行っております。
  p すでにあるデータを効率的に活用したり、また、データがない場合はデータを収集するITツールやシステムを開発・導入してビジネスに活用できるデータ環境の構築・分析を行います。
  p ご相談内容に応じた提案をさせていただきますのでお気軽にご相談ください。


  h2#service.passMRD サービス
  ul
    li
      | ユーザー行動データ収集ツール「
      a(href="https://jp.mreactiondata.com/") mReactionData
      | 」の開発・販売
    li ソフトウェアの新規開発・導入・リプレース
  a(href="/secondary-use-data")データ二次利用とは？

  h2#about.passMRD 会社情報
  p 株式会社movee
  p 〒810-0001　福岡県福岡市中央区天神2丁目3-10　天神パインクレスト716
  p 050-5538-0382 &nbsp; info@movee.jp
  a(href="/member")メンバーはこちら

  h2#achievement.passMRD  実績

  table(border="1", style="border-collapse: collapse;")
    tr
      th システム
      th 工程
      th 技術
      th 業種
    tr
      td 営業支援システム
      td 要件定義、基本設計、詳細設計、製造、テスト、リリース
      td PHP7、OctoberCMS、Svelte、MySQL、Kintone、VPS、Github
      td マーケティング
    tr
      td TシャツECシステム
      td 要求定義、要件定義、基本設計
      td PHP7、EC-CUBE4系、MySQL
      td アパレル
    tr
      td 決済アプリ
      td 要件定義、基本設計、詳細設計、製造、テスト
      td Java8、Spring Boot、Vue3、SQL Server、AWS、Github
      td 金融
    tr
      td 人事労務業務システム
      td 要求定義、要件定義、基本設計
      td Java、Oracle
      td 電力
  h2#qa.passMRD Q&A
  p よくある質問を載せています。
  p Q.開発を相談する場合はどのような流れになりますか？
  p A.まずはオンラインか直接お会いして、開発したいシステムの概要をお聞きします。その後にお見積書を作成させていただき、双方問題なければ開発に着手いたします。
  p Q.相談してから開発着手まではどれぐらいかかりますか？
  p A.内容を伺って、お見積もり提出までに早くて1週間、内容のすり合わせにお時間がかかる場合は1ヶ月ほど時間を要する場合があります。開発着手はエンジニアのリソース状況によリますが、早ければ見積り合意後にすぐ着手いたします。お見積もり段階でリソース状況も共有させていただいております。ご相談・お見積もり作成は無料ですのでまずはお気軽にご相談ください。

  h2#contact.passMRD
    a.contact-button お問い合わせ
  p お仕事のご依頼やご相談は050-5538-0382か、info@movee.jpよりご連絡ください。
  p スポット開発、協業などお気軽にどうぞ。ちなみにホームページはTypeScript、node.js、Expressで書いています。詳しくは
    a(href="https://esa-pages.io/p/sharing/20913/posts/58/74eea07bb61c93dbaa09.html", target="_blank") こちら
